/* Apply general styles for the sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f4f4f4;
  }
  
  .sidebar .active {
    background-color: #d1e7dd;
    color: #0f5132;
  }
  